@using Syncfusion.Blazor.FileManager

@if (!_isLoading)
{
	<div>
		<SfFileManager TValue="FileManagerDirectoryContent">
			<FileManagerAjaxSettings Url="@($"{_fileManagerApiBase}api/FileManager/FileOperations")"
									 UploadUrl="@($"{_fileManagerApiBase}api/FileManager/Upload")"
									 DownloadUrl="@($"{_fileManagerApiBase}api/FileManager/Download")"
									 GetImageUrl="@($"{_fileManagerApiBase}api/FileManager/GetImage")">
			</FileManagerAjaxSettings>
		</SfFileManager>
	</div>
}
